<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bistu.mapper.ProductMapper">
    <select id="getAll" resultType="com.bistu.entity.Product">
        select * from product
        <where>
            <if test="name != null">
                name like concat('%', #{name},'%')
            </if>
            <if test="category != null ">
                and category like concat('%', #{category},'%')
            </if>
            <if test="storeName != null">
                and store_id IN (
                SELECT id
                FROM sub_merchant
                WHERE store_name like concat('%', storeName, '%')
                )
            </if>
        </where>
        <choose>
            <when test="price != null">
                <if test="isDESC">
                    order by price desc
                </if>
                <if test="!isDESC">
                    order by price asc
                </if>
            </when>
            <when test="salesVolume != null">
                <if test="isDESC">
                    order by sales_volume desc
                </if>
                <if test="!isDESC">
                    order by sales_volume asc
                </if>
            </when>
            <when test="rating != null">
                <if test="isDESC">
                    order by rating desc
                </if>
                <if test="!isDESC">
                    order by rating asc
                </if>
            </when>
            <otherwise>
                order by update_time desc
            </otherwise>
        </choose>
        limit #{start},#{pageSize}
    </select>

    <insert id="perchase" parameterType="com.bistu.entity.Transaction">
        insert into transaction
        (user_id,product_id,quantity,discount,status,paid,create_time,payment_time,update_time)
        values(#{userId},#{productId},#{quantity},#{discount},#{status},#{paid},#{createTime},#{paymentTime},#{updateTime})
    </insert>

    <insert id="shoppingCart" parameterType="com.bistu.entity.ShoppingCart">
        insert into shopping_cart
        (user_id,product_id,quantity,create_time,update_time)
        values(#{userId},#{productId},#{quantity},#{createTime},#{updateTime})
    </insert>

    <insert id="comment" parameterType="com.bistu.entity.Comment">
        insert into comment(user_id,product_id,grade,content,create_time,update_time)
        values(#{userId},#{productId},#{grade},#{content},#{createTime},#{updateTime})
    </insert>

</mapper>