<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bistu.mapper.ProductMapper">
    <select id="getAll" resultType="com.bistu.entity.Product">
            select * from product
        <where>
            <if test="name != null">
                name like concat('%', #{name},'%')
            </if>
            <if test="category != null ">
                category like concat('%', #{category},'%')
            </if>
            <if test="storeName != null">
                store_id IN (
                SELECT id
                FROM sub_merchant
                WHERE store_name like concat('%', storeName, '%')
                );
            </if>
        </where>
    </select>
</mapper>