<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bistu.mapper.ProductMapper">
    <select id="getAll" parameterType="com.bistu.entity.GetAllParam" resultType="com.bistu.entity.Product">
        SELECT * FROM product
        <where>
            <if test="name != null">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="category != null">
                AND category LIKE CONCAT('%', #{category}, '%')
            </if>
            <if test="storeName != null">
                AND store_id IN (
                SELECT id FROM sub_merchant WHERE store_name LIKE CONCAT('%', #{storeName}, '%')
                )
            </if>
        </where>
        <if test="price != null or salesVolume != null or rating != null">
            ORDER BY
            <choose>
                <when test="price != null">
                    price
                </when>
                <when test="salesVolume != null">
                    sales_volume
                </when>
                <when test="rating != null">
                    rating
                </when>
            </choose>
            <if test="isDESC">
                DESC
            </if>
            <if test="!isDESC">
                ASC
            </if>
            <if test="salesVolume != null or rating != null">
                ,
            </if>
            <if test="salesVolume != null">
                sales_volume
            </if>
            <if test="rating != null">
                rating
            </if>
            <if test="isDESC">
                DESC
            </if>
            <if test="!isDESC">
                ASC
            </if>
        </if>
        LIMIT #{start}, #{pageSize}
    </select>

    <insert id="perchase" parameterType="com.bistu.entity.Transaction">
        insert into transaction
        (user_id,product_id,quantity,discount,status,paid,create_time,payment_time,update_time)
        values(#{userId},#{productId},#{quantity},#{discount},#{status},#{paid},#{createTime},#{paymentTime},#{updateTime})
    </insert>

    <insert id="shoppingCart" parameterType="com.bistu.entity.ShoppingCart">
        insert into shopping_cart
        (user_id,product_id,quantity,create_time,update_time)
        values(#{userId},#{productId},#{quantity},#{createTime},#{updateTime})
    </insert>

    <insert id="comment" parameterType="com.bistu.entity.Comment">
        insert into comment(user_id,product_id,grade,content,create_time,update_time,attitude)
        values(#{userId},#{productId},#{grade},#{content},#{createTime},#{updateTime},#{attitude})
    </insert>

    <insert id="shelves" parameterType="com.bistu.entity.Product">
        insert into product(store_id,name,category,size,description,price,image,negotiable,
        purchase_method,quantity,damage_level,rating,create_time,update_time)
        values(#{storeId},#{name},#{category},#{size},#{description},#{price},#{image},#{negotiable},
        #{purchaseMethod},#{quantity},#{damageLevel},#{rating},#{createTime},#{updateTime})
    </insert>
</mapper>