<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bistu.mapper.UserMapper">
    <insert id="signup" parameterType="com.bistu.entity.User">
        INSERT INTO user (name, username, password,address, gender, city,image,self_introduction,
        phone_number, email, bank_card_number, identity, create_time, update_time, state)
        VALUES (#{name}, #{username}, #{password},#{address}, #{gender}, #{city},#{image},#{selfIntroduction},
        #{phoneNumber}, #{email}, #{bankCardNumber},
        #{identity}, #{createTime}, #{updateTime}, #{state});
    </insert>

    <insert id="addAccount" parameterType="com.bistu.entity.Account">
        INSERT INTO account (user_id, balance, point, create_time, update_time)
        VALUES (LAST_INSERT_ID(), 0.0, 0, now(), now() );
    </insert>

    <insert id="buildSubMerchant" parameterType="com.bistu.entity.SubMerchant">
        insert into sub_merchant(user_id,store_name,license)
        values(#{userId},#{storeName},#{license})
    </insert>


    <update id="updateMessage" parameterType="com.bistu.entity.User">
        update user set
        <if test="username != null">
            username = #{username},
        </if>
        <if test="password != null">
            password = #{password},
        </if>
        <if test="address != null">
            address = #{address},
        </if>
        <if test="image != null">
            image = #{image},
        </if>
        <if test="selfIntroduction != null">
            self_introduction = #{selfIntroduction},
        </if>
        <if test="city != null">
            city = #{city},
        </if>
        update_time = #{updateTime}
        where id = #{id}
    </update>

    <update id="pay" parameterType="com.bistu.entity.Transaction">
        update account set balance = balance + #{paid} , update_time = #{updateTime}
        where user_id in (select user_id from sub_merchant where id  in (select store_id from product where id = #{productId}))
    </update>

    <insert id="refunding" parameterType="com.bistu.entity.SubTrade">
        insert into sub_trade (transaction_id,reason,return_time)
        values(#{transactionId},#{reason},#{returnTime})
    </insert>

    <update id="dealRefunding" parameterType="com.bistu.entity.SubTrade">
        update sub_trade set success = #{success} ,
        deal_time = #{dealTime} , reject_reason = #{rejectReason} where id = #{id}
    </update>
</mapper>